apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Service to communicate with Let's Encrypt
    server: https://acme-v02.api.letsencrypt.org/directory
    email: arifaka555@gmail.com # Replace with valid email
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: alb
