apiVersion: apps/v1
kind: Deployment
metadata:
  name: dhakacart-frontend
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dhakacart-frontend
  template:
    metadata:
      labels:
        app: dhakacart-frontend
    spec:
      containers:
      - name: frontend
        image: dhakacart-frontend:latest # Replace with ECR URI in production
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
